/* style.css */

body h2 {
    text-align: center;
}

body svg {
    margin-left:auto; 
    margin-right:auto; 
    display:block;
}

circle {
    fill: black;
    stroke: black;
    stroke-width: 0.7;
    opacity: 0.7;
}